{% extends "index.html" %}
{% load static %}

{% block content %}
<p style="font-size:25px; padding:250px; padding-bottom: 50px; padding-top: 50px; text-align: center;">      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Laborum sunt deserunt molestias consequatur beatae sequi, itaque,
    vero quisquam aperiam error blanditiis, nesciunt similique quidem
    quaerat omnis saepe? Error porro dolorum molestiae perferendis
    quisquam possimus quae autem fuga doloribus facere non, dolore
    eaque iste ad ea dolorem dicta aperiam voluptates! Necessitatibus,
    est! At neque unde, impedit commodi sint soluta repellendus consectetur
    eligendi ratione? Dolorem velit qui deleniti eos vel blanditiis harum,
    dolore dolorum tenetur, quidem odio atque hic ipsam quasi perferendis! Ut,
    culpa eveniet corporis ea dolore nulla reiciendis fugiat adipisci aperiam
    eligendi officia sunt doloremque similique fuga totam, velit perferendis nisi
    eum unde neque amet! Rem maiores omnis, necessitatibus assumenda ex delectus
    laborum voluptatem dolorum molestias reiciendis beatae consequatur voluptates
    earum dolores. Hic temporibus eligendi vero doloribus voluptatibus distinctio
    asperiores eos id maiores quo. Eveniet cumque accusantium ut modi, natus reprehenderit.
    Optio nostrum repudiandae dolorem consequatur at ducimus numquam consequuntur ipsum. At,
    impedit veniam eveniet ad asperiores repellendus eos voluptates obcaecati placeat
    odit porro quae. A fuga optio, maiores maxime quisquam explicabo culpa! Modi,
    maiores error nobis quisquam earum quod voluptatibus, excepturi a dignissimos
    velit aliquam est alias voluptates possimus et dolor odio. Totam inventore
    ratione aspernatur accusamus? Ea, temporibus.
</p>
<br>
<a href="https://en.wikipedia.org/wiki/Glovo#:~:text=Glovo%20specializes%20in%20last%2Dmile,stores%20via%20its%20mobile%20app." target="_blank" style="font-size: 40px; text-decoration: dotted;"><h1 style="text-align: center;">for further research</h1></a>

{% endblock %}