{% extends "index.html" %}


{% block content %}
<div class="container text-center food_box">
        <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">
            <div class="col">
              <div class="p-3">
                  <h2>Donuts</h2>
                  <a href="/dunkin">
                      <img src="{% static 'images/dozen.png' %}">
                  </a>
              </div>
            </div>
            <div class="col">
              <div class="p-3">
                  <h2>coffe</h2>
                  <a href="/tsisqvili">
                      <img src="{% static 'images/coffe.png' %}">
                  </a>
              </div>
            </div>
            <div class="col">
              <div class="p-3">
                  <h2>bagel</h2>
                  <a href="/wendy">
                      <img src="{% static 'images/bagel.png' %}">
                  </a>
              </div>
            </div>
        </div>
    </div>
{% endblock %}